body{
	background-color: Black ;
	font-style: Georgia;
	color: black;
}

img#logo{

	display:block;
	width:435px;
	margin-left: auto;
	margin-right: 15px;
}

div#bandoint1{
	margin-top : 20px;
	margin-bottom: 20px;
	background-color: rgb(225,114,24);
}
	
div#bando.row{
	background-color: rgb(1,184,252);
}

div#menu1{
	padding-left: 0px;
	padding-right: 0px;
}

form#form1{
	padding-bottom :5%; 
	padding-left : 5%;
	padding-right : 10%;
	padding-top :5%;
	margin-top : 1%;
	margin-right : 1%;
	margin-left : 1%;
	background-color :rgb(57,91,131);
}

.navbar-inverse .navbar-nav>li>a {
    color: black;
	font-weight: bold;
}

.navbar-inverse {
    background-color: rgb(57,91,131);
    border-color: rgb(36,58,85);
}

.navbar {
	border-radius: 0px;
}