body{
	background-color: Black ;
	font-style: Georgia;
	color: black;
}

body#Lclients{
	background-color: Black ;
	font-style: Georgia;
	color: white;
}

img#logo{

	display:block;
	width:435px;
	margin-left: auto;
	margin-right: 15px;
}

div#bandoint1{
	margin-top : 20px;
	margin-bottom: 20px;
	background-color: rgb(225,114,24);
}
	
div#bando.row{
	background-color: rgb(1,184,252);
}

div#menu1{
	padding-left: 0px;
	padding-right: 0px;
}

#form1{
	padding-bottom :5%; 
	padding-left : 5%;
	padding-right : 10%;
	padding-top :5%;
	margin-top : 1%;
	margin-right : 1%;
	margin-left : 1%;
	background-color :rgb(57,91,131);
}

#supp{
	background-color :rgb(57,91,131);
	margin-top : 1%;
	margin-right : 1%;
	margin-left : 1%;
	font-weight: bold;
}

#ComptCour,#ComptEp{
	padding-top: 7px;
	text-align: right;
}

#buttsupp1, #buttsupp2{
		text-align: left;
		padding-top: 0px;
}

.navbar-inverse .navbar-nav>li>a {
    color: black;
	font-weight: bold;
}

.navbar-inverse {
    background-color: rgb(57,91,131);
    border-color: rgb(36,58,85);
}

.navbar {
	border-radius: 0px;
}

table#listeclient{
	padding-bottom :5%; 
	padding-left : 5%;
	padding-right : 10%;
	padding-top :5%;
	margin-top : 1%;
	margin-right : 1%;
	margin-left : 1%;
	font-style : "Helvetica Neue",Helvetica,Arial,sans-serif;
}

td#modifier{
	background-color:orange;
	text-align: center;
	border-style: solid;
	color: black;
}

td#supprimer{
	background-color:red;
	text-align: center;
	border-style: solid;
	color: black;
}