body{
	background-color: Black ;
	font-style: Georgia;
	color: black;
}

body#Lclients{
	background-color: Black ;
	font-style: Georgia;
	color: white;
}

img#logo{

	display:block;
	width:435px;
	margin-left: auto;
	margin-right: 15px;
}

div#bandoint1{
	margin-top : 20px;
	margin-bottom: 20px;
	background-color: rgb(225,114,24);
}
	
div#bando.row{
	background-color: rgb(1,184,252);
}

div#menu1{
	padding-left: 0px;
	padding-right: 0px;
}

li{
	border-style: solid;
    border-width: 4px 4px 4px 4px;
	border-top-color: rgb(36, 58, 85);
	border-right-color: rgb(24, 28, 57);
	border-bottom-color: rgb(9, 14, 20);
	border-left-color: rgb(36, 58, 85);
	background-color: rgb(121, 184, 255);
}

li.act{
	background-color: rgb(22, 44, 69);
	border-color: rgb(22, 44, 69);
	color:white;
}

li.act>a:hover{
	background-color: rgb(22, 44, 69);
	border-color: rgb(22, 44, 69);
	color:white;
}

.navbar-inverse .navbar-nav > li.act > a{
	color:white;
}

#form1{
	padding-bottom :1%; 
	padding-left : 5%;
	padding-right : 10%;
	padding-top :1%;
	margin-top : 1%;
	margin-right : 1%;
	margin-left : 1%;
	color: rgb(30,30,30);
	background-image: url("images/degrade2.jpg");
	background-size: adapt;
}

#cb1, #cb2{
	margin: 10px 0 0;
}

#supp{
	background-image: url("images/degrade2.jpg");
	background-size: adapt;
	margin-top : 1%;
	margin-right : 1%;
	margin-left : 1%;
	font-weight: bold;
}

#ComptCour,#ComptEp{
	padding-top: 7px;
	text-align: right;
}

#buttsupp1, #buttsupp2{
		text-align: left;
		padding-top: 0px;
}


.navbar-inverse .navbar-nav>li>a {
    color: black;
	font-weight: bold;
}

.navbar-inverse {
    background-color: rgb(57,91,131);
    border-color: rgb(36,58,85);
}

.navbar {
	border-radius: 0px;
}

table#listeclient{
	padding-bottom :5%; 
	padding-left : 5%;
	padding-right : 10%;
	padding-top :5%;
	margin-top : 1%;
	margin-right : 1%;
	margin-left : 1%;
	font-style : "Helvetica Neue",Helvetica,Arial,sans-serif;
	background-image: url("images/degrade2.jpg");
	background-size: adapt;
}

table#listeclient>thead>tr{
	color: black;
}

table#listeclient>tbody>td{
	text-decoration: none;
}

td#modifier{
	background-color:orange;
	text-align: center;
	border-style: solid;
	color: black;
}

td#modifier>a{
	color: black;
}

td#supprimer{
	background-color:red;
	text-align: center;
	border-style: solid;
	color: black;
}

td#supprimer>a{
	color: black;
}